/*
=============
 Reset
=============
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
=============
 Vue
=============
*/

[v-cloak] {
    display: none;
}

/*
=============
 To Do List
=============
*/

ul {
    max-width: 50rem;
}