/*
=============
 Reset
=============
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
=============
 Typo
=============
*/

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Rock Salt', cursive;
}

/*
=============
 Vue
=============
*/

[v-cloak] {
    display: none;
}

/*
=============
 To Do List
=============
*/

.to-do-list {
    max-width: 50rem;
}